.app-background {
  background-image: url('/background.jpg');
  background-size: contain; /* Contenir l'image dans l'écran sans déformation */
  background-position: center;
  background-repeat: no-repeat;
  background-color: #4B0082; /* Utilisation d'un violet similaire au fond de l'image */
  margin: 0;
  padding: 0;
  min-height: 100vh;
  box-sizing: border-box;
  position: relative; /* Position relative pour positionner les éléments enfants */
}

body {
  margin: 0;
}

.goal-list {
  position: absolute;
  top: 18vh; /* Ajuster selon l'endroit souhaité sur l'image de fond */
  left: -1.2vw; /* Ajuster selon l'endroit souhaité sur l'image de fond */
  width: 80vw; /* Limiter la largeur pour que tout rentre bien */
}
